table {
    width: 30%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: transparent;
}

td {
    color: #000000;
}
.black-text-table {
    color: black; /* Задаем цвет текста внутри таблицы черным */
}
